.pokemon_card{
    position: absolute;
    top: 0%;
    right: 10%;
    border: 10px solid black;
    
    
    
}
.bottom{
    background: radial-gradient(circle, rgba(181,180,193,0.9) 0%, rgba(255,251,133,0.9) 38%, rgba(0,212,255,0.9) 100%);
}
.card-title{
    background: radial-gradient(circle, rgba(181,180,193,1) 0%, rgba(255,251,133,1) 38%, rgba(0,212,255,1) 100%);
}
.card_img{
    max-height: 10%;
    max-width: auto;

}
.poke_img{
    margin-top: 0;
    border-bottom: 4px solid black;
   
}

li{
    list-style-type: none;
    border-bottom: 1px solid black;
}
h1{
    font-family: 'Miltonian Tattoo', cursive;
}
p{
    font-family: 'Miltonian Tattoo', cursive;
    color: darkred;
    font-size: 20px;
}