    <nav class="navbar navbar-expand-lg bg-light" style="opacity: 0.9; width: 30%;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}"><img class="icon" src="https://res.cloudinary.com/dxfkurrkj/image/upload/v1659396047/pokeball_rvsnvg.jpg"</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{{url_for('index')}}">Home</a>
            <a class="nav-link" href="{{url_for('pokemon')}}">Catch Pokemon</a>
        </div>
        </div>
    </div>
    </nav>