{% extends 'base.html.j2' %}
{% block title %}
Home
{% endblock %}

{%block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class= "welcome"><h1>Welcome Trainer!</h1></div>
<div>
<img class="welcome photo" src="https://res.cloudinary.com/dxfkurrkj/image/upload/v1659395708/pokemon_q8h3ix.png">
</div>
{% endblock %}

