{% extends 'base.html.j2'%}
{% block title %}
{{user.first_name}}'s Pokemon
{% endblock %}
{%block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/team.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<h1 style="text-align:center;">{{user.first_name.title()}}'s Pokemon</h1>
<hr>
<div class="row justify-content-evenly">
           {% if user != current_user %}
        <div class="sidebar col-2 ">
             <div id="battle_button">
                 <a class="btn" href="{{url_for('main.battle', id=user.id)}}">Battle {{user.first_name.title()}}&nbsp;<i class="bi bi-controller"></i></a>
             </div>
             <div>
                 <p>Wins: {{user.win}}</p>
                 <p>Losses: {{user.lose}}</p>
                 <img src="{{user.get_icon_url()}}" class="img-fluid rounded-start" style="height: 75px;",alt="avatar">
             </div>
        </div>
    {% endif %}
        
    <div class="container  col-6" id="main">
        <div class="row justify-content-evenly row-cols-auto">
        {% if team %}
{%for pokemon in team %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src= {{pokemon.photo}} class="img-fluid rounded-start" alt="avatar">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{pokemon.poke_name}}</h5>
               
                <ul class="list-group list-group-flush">
                {% if user == current_user %}
                <a href="{{url_for('main.release', name=pokemon.poke_name)}}" class="btn btn-danger">Release!</a> 
                {% endif %}
            </div>
            </div>
        </div>
     </div>

{%endfor%}
</div>
    
{% endif %}
{% endblock %}